PORT=3000
DB_USER=sa
DB_PASSWORD=tu_password
DB_SERVER=localhost
DB_DATABASE=monitoreo_plagas
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
SESSION_SECRET=cambia-este-valor-por-un-secreto-largo
NODE_ENV=development
METEO_FEAL_BASE_URL=http://localhost:3001
METEO_INTERNAL_TOKEN=MoniplaMeteoFeal_2026_X9kL72
